.App {
  text-align: center;
}

.font-great-vibes {
  font-family: 'Great Vibes', cursive;
  /* Other styling properties if needed */
}
/* Styles for the modal overlay */
/* Styles for the modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Styles for the modal content */
.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  z-index: 1001;
}


/* Styles for the modal header */
.modal-header {
  background-color: #f0f0f0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for the close button */
.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.rbc-calendar {
  min-height: 500px ;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}

.popup.active {
  display: block; /* Show the popup when 'active' class is applied */
  /* Additional styles for the displayed popup */
}

.header-green {
  background-color: #FFC0CB;
}

nav button {
color: #8AA29E;
}

.text-green {
  color: #8AA29E;
}

.button-color {
  background-color: #E6A8A8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
